* {
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    background-color: #2196f3;
}
.main {
    width: 400px;
    margin: 60px auto;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    padding: 40px 0;
}
label { 
    display: block;
    margin-bottom: 10px;
}
.double {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
}
input {
    height: 30px;
    width: 100%;
    text-align: center;
}
.form div {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.holder , .cardNr , .calend , .sec{
    position: relative;
}
.holder i,.cardNr i , .calend i , .sec i{
    position: absolute;
    top: 34px;
    left: 5px;
}
button {
    background-color: #2196f3;
    width: 100%;
    padding: 15px 0;
    border: none;
    color: white;
    font-weight: bold;
}

