body {
    font-family: "Poppins", sans-serif;
    background-color: grey;
}
.main{
    width: 1125px;
    margin: 100px auto; 
}
.photoGallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;

}
 .photo {
    background-color: white;
} 
.photo img {
    width: 270px;
    height: 170px;
    object-fit: cover;
}
.description {
    margin-left: 10px;
}
.catNav a {
    text-decoration: none;
    margin-right: 15px;
    background-color: white;
    padding: 10px 5px;
}
.catNav .active {
    background-color: darkgray;
    color: white;
}