@import url(./variables.css);
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color)
}
a {
    text-decoration: none;
    color: var(--text-color);
}
button {
    border: none;
    color: var(--text-color);
    background-color: var(--button-color);
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
}
/* mobile */
body {
    padding: 40px 24px;
}
nav.mainNav, .contactUs {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textWrap h1 {
    font-size: 42px;
}
.textWrap p {
    line-height: 150%;
}
.textWrap button {
    
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 20px;
}
.top .imgWrap {
    width: 100%;
}
.imgWrap img {
    width: 100%;
}
section h2 {
    font-size: 36px;
    font-weight: 900;
}
.second .pText p {
    font-size: 16px;
    line-height: 150%;
}
.second .videoWrapper {
    width: 100%;
    position: relative;
}
.second .videoWrapper .video img {
    width: 100%;
}
.second .videoWrapper .playButton {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.second .videoWrapper .playButton img {
    width: 100%;
}
.third .servicesIcons .service {
    text-align: center;
}
.third .servicesIcons .service h4{
    font-size: 24px;
    font-weight: 600;
}
.third .servicesIcons .service p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding: 0px 30px;
}
.fourth .portfolioItem {
    display: none;
}
.fourth .portfolioItem.active {
    display: block;
}
.fourth .portfolioItem.active img {
    width: 100%;    
}
.fourth .portfolioWrapper {
    margin: 0 -24px;
}
.fourth .pagination .desk {
    display: none;
}
.fourth .pagination .mobile {
    text-align: center;
}
.fourth .pagination .mobile a:hover svg circle {
    fill: #5454D4;
}
.fourth .pagination .mobile a:first-child svg{
    transform: rotate(180deg);
}
.fivth button {
    padding: 11px 44px;
    border-radius: 4px;
}
footer {
    text-align: center;
    font-size: 18px;
}
footer img {
    width: 115px;
}

